#main_body
  %p.flash-notice{:style => "color: green"}= flash[:notice]
  %p.flash-error{ :style => "color: red"  }= flash[:error]
  
  %h1 Send Information to Workers
  #status_form
    - form_for(@note) do |f| 
      %p
        %b What's going on? Type your message in here to send to everyone in the field
        %br
        = f.text_area :text, :cols => 80, :rows => 4 
      %p
        = f.submit "Send It"

  %h1 Lastest Information from Workers

  %table
    %tr
      %th Message 
      %th From
      %th When 
    - @public_feed.each do |item|
      %tr
        %td{:width => "400px"}= item.text 
        %td{:width => "200px"}= link_to item.user.name, "http://www.twitter.com/#{item.user.screen_name}"
        %td{:width => "200px"}= "#{distance_of_time_in_words(Time.now, item.created_at)} ago"
        - if Contact.exists?(:screen_name => item.user.screen_name.downcase)
          %td{:width => "200px"}= link_to "Call #{item.user.screen_name} Now", :action => "call", :id => "#{item.user.screen_name}"
        - else
          %td{:width => "200px"}= link_to "Add #{item.user.screen_name} as Contact", :controller => "contacts", :action => "new", :screen_name => "#{item.user.screen_name}"
         
    
#right
  #actions
    %h1 Actions
    #action_item= link_to "Add Field Worker", :controller => "contacts", :action => "new"
    #action_item= link_to "Application Options", :controller => "options", :action => "edit", :id => @current_user.id
    #action_item= link_to "About", "http://www.github.com/howethomas/broadsoft_contest"
    #action_item= logout
    %br
     
    
    
  #news
    %h1 Outside News Feed
    - for r in @rss.items[1..10] do
      %ul= link_to r.title, r.link

