<div id="left_login">
	<%= image_tag('/images/godzilla.jpg') %>	
</div>
<div id="right_login">
	<h1> Disaster Dispatcher </h1> 
	
	<strong> What is it? </strong>
	<br>
	The Disaster Dispatcher is a Voice Mashup that integrates Twitter, Broadworks and RSS
	feeds to provide a one window communications tool for emergency operators.  In 
	emergency situations, communications between fire and police are often hampered because 
	they use different radios and equipment.  For domestic natural disasters, these communications
	issues are exacerbated by the addition of the national guard, NGOs like the boy scouts, 
	and common citizens.  Not only don't these groups use the same equipment, but because no one
	knows where the next earthquake, tornado or flood will strike, it is impossible to a-priori
	know who will be involved. Communications channels must be setup ad-hoc, and quickly.
	<br><br>
	This mashup uses the most common denominator of all these groups: the cell phone. By using
	Broadsoft Broadworks, we are able to immediately contact the right person, saving precious time.
	In addition, Broadworks can front end a call center that can scale with the size of the disaster
	in real time. By using twitter to notify the disparate groups of status in real time, communications are 
	bridged between not only all the active groups, but the passive groups as well including
	concerned family members and the press.  By keeping all of the data seen by the participants,
	emergency personnel can analyze them after the fact to optimize response procedures.
	<br><br>

	<% form_tag sessions_path do -%>
	<p><label for="login">Login</label><br/>
	<%= text_field_tag 'login' %></p>

	<p><label for="password">Password</label><br/>
	<%= password_field_tag 'password' %></p>

	<p><label for="remember_me">Remember me:</label>
	<%= check_box_tag 'remember_me' %></p>

	<p><%= submit_tag 'Log in' %></p>
	<% end -%>
	
</div>
<div id="bottom_login">
	<%= link_to "Not a user? Sign up now!", :controller => :users, :action => :new %>
</div>