%h1 Editing note

= error_messages_for :note

- form_for(@note) do |f|
  %p
    %b Text
    = f.text_field :text 
  %p
    %b Contact
    = f.text_field :contact_id 
  %p
    %b Public note
    = f.check_box :public_note 
    
  %p= f.submit "Update"
  
= link_to 'Show', note_path(@note)
= link_to 'Back', notes_path

