%h1 Create a New Contact

= error_messages_for :contact 

- form_for(@contact) do |f| 
  %p
    %b Organization
    = f.text_field :custom0 
  %p
    %b First name
    = f.text_field :first_name 
  %p
    %b Last name
    = f.text_field :last_name 
  %p
    %b Email
    = f.text_field :email 
  %p
    %b Phone
    = f.text_field :phone 
  %p
    %b Cell
    = f.text_field :cell 
  %p
    %b Screen Name
    = f.text_field :screen_name
  %p
    = f.submit "Create"
    
= link_to 'Back', contacts_path 